@using PDFiller.Website.Models
@using PDFiller.Website.Services
@inject HttpClient Http
@inject IJSRuntime JS

<EditForm Model="@formModel" OnValidSubmit="ExportToPdf">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <!--[FORM_FIELDS_PLACEHOLDER]-->
    
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    private readonly FormModel formModel = new FormModel().SetPropertyValuesToPropertyNames();
}


@functions {
    async Task ExportToPdf()
    {
        var data = await Http.GetByteArrayAsync("src.pdf");
        var formToFill = new MemoryStream(data);

        var pdfFormFillingService = new PdfFormFillingService();
        var filledForm = pdfFormFillingService.FillForm(formToFill, formModel);

        await JS.SaveAs("FilledForm.pdf", filledForm.ToArray());
    }
}